@model IEnumerable<AweV1.Models.Programme>

@{
    ViewData["Title"] = "Index";
}

<script>
    function resetForm() {
        document.getElementById("Search").value = null;
        //document.getElementById("Filter").value = null;
        //document.getElementById("Sort").value = null;
        document.getElementById("Page").value = null;
        document.getElementById("PageSize").value = null;
        document.getElementById("Form").submit();
    }
</script>

<h2>Studiengang: Übersicht</h2>

<form id="Form" asp-action="Index" method="get">

    <p>
        <a class="btn btn-primary" asp-action="Create"><span class="glyphicon glyphicon-plus"></span>&nbsp;Neuer Studiengang</a>
        <input type="button" value="Zurücksetzen" class="btn btn-default pull-right" onclick="resetForm()" />
    </p>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-4">
                    <label class="control-label">Nach Namen suchen:</label>
                    <input class="form-control" name="Search" id="Search" value="@ViewBag.Search" placeholder="Namen eingeben" onchange="document.getElementById('Form').submit()">
                </div>
                <div class="col-xs-4">

                </div>

            </div>
        </div>

        <table class="table table-bordered">
            <thead>
            <th class="text-left" style="width: 80%">@Html.DisplayNameFor(model => model.Name)</th>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="text-center" style="vertical-align: middle">
                            <a class="btn btn-sm btn-default" asp-action="Edit" asp-route-id="@item.Id">
                                <span class='glyphicon glyphicon-pencil' aria-hidden='true'></span>
                            </a>
                            <a class="btn btn-sm btn-default" asp-action="Details" asp-route-id="@item.Id">
                                <span class='glyphicon glyphicon-info-sign' aria-hidden='true'></span>
                            </a>
                            <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                                <span class='glyphicon glyphicon-trash' aria-hidden='true'></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


        <div class="panel-footer">
            <div class="form-inline row">
                <div class="col-xs-4">
                    <div class="form-group pull-left">
                        <span style="vertical-align: middle">Seite&nbsp;</span>
                        <input name="Page" id="Page" type="number" value="@ViewBag.Page" class="form-control text-center" style="vertical-align: middle; width: 25%" onchange="document.getElementById('Form').submit()" />
                        <span style="vertical-align: middle">&nbsp;von @ViewBag.PageTotal</span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="text-center">
                        <ul class="pagination" style="margin: 0">
                            <li class="@(ViewBag.Page <= 1 ? "disabled" : null)"><a href="#" onclick="document.getElementById('Page').value = 1; document.getElementById('Form').submit()">Anfang</a></li>
                            <li class="@(ViewBag.Page <= 1 ? "disabled" : null)"><a href="#" onclick="document.getElementById('Page').value--; document.getElementById('Form').submit()">Zurück</a></li>
                            <li class="@(ViewBag.Page >= ViewBag.PageTotal ? "disabled" : null)"><a href="#" onclick="document.getElementById('Page').value++; document.getElementById('Form').submit()">Vor</a></li>
                            <li class="@(ViewBag.Page >= ViewBag.PageTotal ? "disabled" : null)"><a href="#" onclick="document.getElementById('Page').value = @ViewBag.PageTotal; document.getElementById('Form').submit()">Ende</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group pull-right">
                        <span style="vertical-align: middle">Programme pro Seite:&nbsp;</span>
                        @Html.DropDownList("PageSize", new SelectList(new string[] { "10", "20", "30", "40", "50" }, ViewBag.PageSize), new { id = "PageSize", @class = "form-control", style = "vertical-align: middle", onchange = "document.getElementById('Form').submit()" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>