@model AweV1.Models.Supervisor

@{
    ViewData["Title"] = "Delete";
}

<h2>Löschen</h2>

<h3>Sind Sie sich sicher, dass Sie diesen Betreuer löschen möchten?
    Mit dem Betreuer werden auch all seine Thesen unwiderruflich gelöscht.
    Sie können den Betreuer auch auf <a asp-action="Edit">passiv</a> setzen.
    </h3>
<div>
    <h4>Betreuer:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Löschen" class="btn btn-default" /> |
        <a asp-action="Index">Zurück zur Liste</a>
    </form>
</div>
