@model AweV1.Models.Supervisor

@{
    ViewData["Title"] = "Details";
}

<style>
    .panel-default > .panel-heading {
        background-color: #BFD2FA;
    }
</style>

<h2>Betreuer: Details</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="allgemeinclass">
                <div class="col-xs-6">
                    <h4>Betreuer</h4>
                </div>
                <div class="col-xs-6">

                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered">
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.FirstName)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.Active)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.Email)
            </th>
        </tr>
    </table>
</div>




<!--  <div>
      <h4>Supervisor</h4>
      <hr />
      <dl class="dl-horizontal">
          <dt>
              @Html.DisplayNameFor(model => model.FirstName)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.FirstName)
          </dd>
          <dt>
              @Html.DisplayNameFor(model => model.LastName)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.LastName)
          </dd>
          <dt>
              @Html.DisplayNameFor(model => model.Active)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.Active)
          </dd>
          <dt>
              @Html.DisplayNameFor(model => model.Email)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.Email)
          </dd>
      </dl>
  </div>-->


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Bearbeiten</a> |
    <a asp-action="Index">Zurück zur Liste</a>
</div>
