@model AweV1.Models.Thesis

@{
    ViewData["Title"] = "Details";
}

<style>
    .panel-default > .panel-heading {
        background-color: #BFD2FA;
    }
</style>

<h2>Thesis: Details</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="allgemeinclass">
                <div class="col-xs-6">
                    <h4>Allgemein</h4>
                </div>
                <div class="col-xs-6">

                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered">
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.Title)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.Description)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.Summary)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.Supervisor)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.Supervisor.LastName)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.Programme)
            </th>
            <th>
                @Html.DisplayFor(model => model.Programme.Name)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.Bachelor)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.Bachelor)
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.Master)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.Master)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.LastModified)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.LastModified)
            </th>
        </tr>
    </table>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="statusclass">
                <div class="col-xs-6">
                    <h4>Status</h4>
                </div>
                <div class="col-xs-6">

                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered">
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.Status)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.Registration)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.Registration)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.Filing)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.Filing)
            </th>
        </tr>
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="studentclass">
                <div class="col-xs-6">
                    <h4>Student</h4>
                </div>
                <div class="col-xs-6">

                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered">
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.StudentFirstName)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.StudentFirstName)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.StudentLastName)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.StudentLastName)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.Email)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.StudentID)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.StudentID)
            </th>
        </tr>

        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.Type)
            </th>
        </tr>

    </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="bewertungclass">
                <div class="col-xs-6">
                    <h4>Bewertung</h4>
                </div>
                <div class="col-xs-6">

                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered">
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.Evaluation)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.Evaluation)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.ContentVal)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.ContentVal)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.LayoutVal)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.LayoutVal)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.StructureVal)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.StructureVal)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.StyleVal)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.StyleVal)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.LiteratureVal)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.LiteratureVal)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.DifficultyVal)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.DifficultyVal)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.NoveltyVal)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.NoveltyVal)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.RichnessVal)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.RichnessVal)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.Strengths)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.Strengths)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.Weaknesses)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.Weaknesses)
            </th>
        </tr>
        <tr>
            <th class="text-left" style="width: 50%">
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th class="text-left" style="width: 50%">
                @Html.DisplayFor(model => model.Grade)
            </th>
        </tr>

    </table>
</div>

