@model AweV1.Models.Thesis

@{
    ViewData["Title"] = "Edit";
}

<style>
    .formular {
        padding: 20px;
    }

    .themaclass {
        padding-left: 10px;
    }

    .bearbeitungclass {
        padding-left: 10px;
    }

    .bewertungclass {
        padding-left: 10px;
    }

    .gesamtnoteclass {
        padding-left: 10px;
    }

    .panel-default > .panel-heading {
        background-color: #BFD2FA;
    }
</style>

<h2>Thesis: Bearbeiten</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="themaclass">
                    <h4>Thema</h4>
                </div>
            </div>
        </div>

        <div class="formular">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupervisorId" class="control-label">Betreuer</label>
                <select asp-for="SupervisorId" asp-items="ViewBag.SupervisorId" class="form-control"></select>
                <span asp-validation-for="SupervisorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Bachelor" /> @Html.DisplayNameFor(model => model.Bachelor)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Master" /> @Html.DisplayNameFor(model => model.Master)
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="bearbeitungclass">
                    <h4>Bearbeitung</h4>
                </div>
            </div>
        </div>
        <div class="formular">
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="@Html.GetEnumSelectList(typeof(Status))" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentFirstName" class="control-label"></label>
                <input asp-for="StudentFirstName" class="form-control" />
                <span asp-validation-for="StudentFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentLastName" class="control-label"></label>
                <input asp-for="StudentLastName" class="form-control" />
                <span asp-validation-for="StudentLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentID" class="control-label"></label>
                <input asp-for="StudentID" class="form-control" />
                <span asp-validation-for="StudentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" asp-items="@Html.GetEnumSelectList(typeof(AweV1.Models.Type))" class="form-control"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgrammeId" class="control-label">Studiengang</label>
                <select asp-for="ProgrammeId" asp-items="ViewBag.ProgrammeId" class="form-control"></select>
                <span asp-validation-for="ProgrammeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration" class="control-label"></label>
                <input type="date" asp-for="Registration" class="form-control" />
                <span asp-validation-for="Registration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Filing" class="control-label"></label>
                <input type="date" asp-for="Filing" class="form-control" />
                <span asp-validation-for="Filing" class="text-danger"></span>
            </div>
        </div>
    </div>
    <!---->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="bewertungclass">
                <h4>Bewertung</h4>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <h5 align="center">Punkte</h5>
                </div>
                <div class="col-xs-6">
                    <h5 align="center">Gewichtung</h5>
                </div>
            </div>
        </div>
        <div class="formular">

            <table class="table table-bordered">
                <tr>
                    <th>
                        <div class="form-group">
                            <div class="form-group">
                                <label asp-for="ContentVal" class="control-label"></label>
                                <select  asp-for="ContentVal" id="ContentVal"class="form-control">
                                    <option value="">Bitte auswählen</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <span asp-validation-for="ContentVal" class="text-danger"></span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            <label asp-for="ContentWt" class="control-label"></label>
                            <input asp-for="ContentWt" class="form-control" max="100" value="30" type ="text" onchange="checknumber(this)"/>
                            <span asp-validation-for="ContentWt" class="text-danger"></span>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="form-group">
                            <label asp-for="LayoutVal" class="control-label"></label>
                            <select asp-for="LayoutVal" id="LayoutVal" class="form-control">
                                <option value="">Bitte auswählen</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <span asp-validation-for="LayoutVal" class="text-danger"></span>
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            <label asp-for="LayoutWt" class="control-label"></label>
                            <input asp-for="LayoutWt" class="form-control" value="15" type ="text" onchange="checknumber(this)"/>
                            <span asp-validation-for="LayoutWt" class="text-danger"></span>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="form-group">
                            <label asp-for="StructureVal" class="control-label"></label>
                            <select asp-for="StructureVal" id="StructureVal" class="form-control">
                                <option value="">Bitte auswählen</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                             </select>
                             <span asp-validation-for="StructureVal" class="text-danger"></span>
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            <label asp-for="StructureWt" class="control-label"></label>
                            <input asp-for="StructureWt" class="form-control" value="10" type ="text" onchange="checknumber(this)" />
                            <span asp-validation-for="StructureWt" class="text-danger"></span>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="form-group">
                            <label asp-for="StyleVal" class="control-label"></label>
                            <select asp-for="StyleVal" id="StyleVal" class="form-control">
                                <option value="">Bitte auswählen</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>                           
                            <span asp-validation-for="StyleVal" class="text-danger"></span>
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            <label asp-for="StyleWt" class="control-label"></label>
                            <input asp-for="StyleWt" class="form-control" value="10" type ="text" onchange="checknumber(this)"/>
                            <span asp-validation-for="StyleWt" class="text-danger"></span>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="form-group">
                            <label asp-for="LiteratureVal" class="control-label"></label>
                            <select asp-for="LiteratureVal" id="LiteratureVal" class="form-control">
                                <option value="">Bitte auswählen</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>                    
                            <span asp-validation-for="LiteratureVal" class="text-danger"></span>
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            <label asp-for="LiteratureWt" class="control-label"></label>
                            <input asp-for="LiteratureWt" class="form-control" value="10" type ="text" onchange="checknumber(this)" />
                            <span asp-validation-for="LiteratureWt" class="text-danger"></span>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="form-group">
                            <label asp-for="DifficultyVal" class="control-label"></label>
                            <select asp-for="DifficultyVal" id="DifficultyVal" class="form-control">
                                <option value="">Bitte auswählen</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>        
                            <span asp-validation-for="DifficultyVal" class="text-danger"></span>
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            <label asp-for="DifficultyWt" class="control-label"></label>
                            <input asp-for="DifficultyWt" class="form-control" value="5" type ="text" onchange="checknumber(this)"/>
                            <span asp-validation-for="DifficultyWt" class="text-danger"></span>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="form-group">
                            <label asp-for="NoveltyVal" class="control-label"></label>
                            <select asp-for="NoveltyVal" id="NoveltyVal" class="form-control">
                                <option value="">Bitte auswählen</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>                            <span asp-validation-for="NoveltyVal" class="text-danger"></span>
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            <label asp-for="NoveltyWt" class="control-label"></label>
                            <input asp-for="NoveltyWt" class="form-control" value="10" type ="text" onchange="checknumber(this)"/>
                            <span asp-validation-for="NoveltyWt" class="text-danger"></span>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="form-group">
                            <label asp-for="RichnessVal" class="control-label"></label>
                            <select asp-for="RichnessVal" id="RichnessVal" class="form-control">
                                <option value="">Bitte auswählen</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>                            <span asp-validation-for="RichnessVal" class="text-danger"></span>
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            <label asp-for="RichnessWt" class="control-label"></label>
                            <input asp-for="RichnessWt" class="form-control" value="10" type ="text" onchange="checknumber(this)" />
                            <span asp-validation-for="RichnessWt" class="text-danger"></span>
                        </div>
                    </th>
                </tr>
            </table>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <textarea class="form-control" asp-for="Summary" rows="3"></textarea>
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Strengths" class="control-label"></label>
                <textarea class="form-control" asp-for="Strengths" rows="3"></textarea>
                <span asp-validation-for="Strengths" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weaknesses" class="control-label"></label>
                <textarea class="form-control" asp-for="Weaknesses" rows="3"></textarea>
                <span asp-validation-for="Weaknesses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evaluation" class="control-label"></label>
                <textarea class="form-control" asp-for="Evaluation" rows="3"></textarea>
                <span asp-validation-for="Evaluation" class="text-danger"></span>
            </div>
        </div>
    </div>

<div class="custom-file">
    <br/>
    <label class="custom-file-label">
        Arbeit des Studenten <input type="file" id="UploadFiles" asp-for="UploadFile" class="form-control custom-file-input" style="margin-bottom:5px"/>
    </label>
    <br/>
</div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="gesamtnoteclass">
                    <h4>Gesamtnote</h4>
                </div>
            </div>
        </div>

        <table class="table table-bordered">
            <tr>
                <th>
                    <label for="Ergebnis">Ergebnis</label>
                    <input type="text" class="form-control" id="Ergebnis" size="5" maxlength="8" readonly /><br />
                    <input type="button" value="Notenvorschlag" class="btn btn-default pull-left" onclick="notenVorschlag()">
                    <div class=" form-group"></div>
                </th>

                <th>
                    <div class="form-group">
                        <label asp-for="Grade" class="control-label"></label>
                        <select asp-for="Grade" asp-items="@Html.GetEnumSelectList(typeof(AweV1.Models.Grade))" class="form-control"></select>
                        <span asp-validation-for="Grade" class="text-danger"></span>
                    </div>
                </th>
            </tr>
        </table>
    </div>
    <div>
        <div class="form-group">
            <div class="col text-center">
                <input type="submit" value="Speichern" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


<script>

    function checknumber(txtid) {
        var mynumbervalue = parseFloat((txtid).value);
        if (mynumbervalue > 100) {
            txtid.value = "0";
            alert("Bitte eine Zahl zwischen 0 und 100 eingeben")
        }
     }



    function notenVorschlag() {
        var content = document.getElementById("ContentVal").value;
        var layout = document.getElementById("LayoutVal").value;
        var structure = document.getElementById("StructureVal").value;
        var style = document.getElementById("StyleVal").value;
        var literature = document.getElementById("LiteratureVal").value;
        var difficulty = document.getElementById("DifficultyVal").value;
        var novelty = document.getElementById("NoveltyVal").value;
        var richness = document.getElementById("RichnessVal").value;

        var res;
        var zwischenergebnis;

        var contentw = document.getElementById("ContentWt").value;
        var layoutw = document.getElementById("LayoutWt").value;
        var structurew = document.getElementById("StructureWt").value;
        var stylew = document.getElementById("StyleWt").value;
        var literaturew = document.getElementById("LiteratureWt").value;
        var difficultyw = document.getElementById("DifficultyWt").value;
        var noveltyw = document.getElementById("NoveltyWt").value;
        var richnessw = document.getElementById("RichnessWt").value;


        zwischenergebnis = (Number((6 - content) * contentw) + Number((6 - layout) * layoutw) + Number((6 - structure) * structurew) + Number( (6 - style) * stylew) + Number( ( 6 -literature) * literaturew) + Number( ( 6 - difficulty) * difficultyw) + Number( ( 6 - novelty) * noveltyw) + Number( (6 - richness) * richnessw));

       

        res = (zwischenergebnis / 100).toFixed(2);
        document.getElementById("Ergebnis").value = res



        if (document.getElementById("ContentVal").value == "0") {
            alert("Bitte vergeben Sie Punkte fuer das Feld Inhalt");
        }
        if (document.getElementById("LayoutVal").value == "0") {
            alert("Bitte vergeben Sie Punkte fuer das Feld Layout");
        }
        if (document.getElementById("StructureVal").value == "0") {
            alert("Bitte vergeben Sie Punkte fuer das Feld Struktur");
        }
        if (document.getElementById("StyleVal").value == "0") {
            alert("Bitte vergeben Sie Punkte fuer das Feld Stil");
        }
        if (document.getElementById("LiteratureVal").value == "0") {
            alert("Bitte vergeben Sie Punkte fuer das Feld Literatur");
        }
        if (document.getElementById("DifficultyVal").value == "0") {
            alert("Bitte vergeben Sie Punkte fuer das Feld Komplexität");
        }
        if (document.getElementById("NoveltyVal").value == "0") {
            alert("Bitte vergeben Sie Punkte fuer das Feld Neuheit");
        }
        if (document.getElementById("RichnessVal").value == "0") {
            alert("Bitte vergeben Sie Punkte fuer das Feld Reichhaltigkeit");
        }
    }

</script>


<div>
    <a asp-action="Index">Zurück zur Liste</a>
</div>


