@model IEnumerable<AweV1.Models.Thesis>

@{
    ViewData["Title"] = "Index";
}

<script>
    function resetForm() {
        document.getElementById("Search").value = null;
        document.getElementById("Filter").value = null;
        document.getElementById("Sort").value = null;
        document.getElementById("Page").value = null;
        document.getElementById("PageSize").value = null;
        document.getElementById("Form").submit();
    }
</script>

<h2>Index</h2>

<p>
    <a class="btn btn-primary" asp-action="Create"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create new</a>
    <input type="button" value="Reset" class="btn btn-default pull-right" onclick="resetForm()" />
</p>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-4">
                <label class="control-label">Search:</label>
                <input class="form-control" name="Search" id="Search" value="@ViewBag.Search" placeholder="Enter keyword" onchange="document.getElementById('Form').submit()">
            </div>
            <div class="col-xs-4">
                <label class="control-label">Filter by manufacturer:</label>
               
            </div>
            <div class="col-xs-4">
                <label class="control-label">Sort by:</label>
               
            </div>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
        <th class="text-right" style="width: 30%">@Html.DisplayNameFor(model => model.Title)</th>
        <th style="width: 10%">@Html.DisplayNameFor(model => model.Status)</th>
        <th style="width: 10%">@Html.DisplayNameFor(model => model.Registration)</th>
        <th class="text-right" style="width: 10%">@Html.DisplayNameFor(model => model.Filing)</th>
        <th class="text-right" style="width: 10%">@Html.DisplayNameFor(model => model.Type)</th>
        <th class="text-right" style="width: 10%">@Html.DisplayNameFor(model => model.StudentID)</th>
        <tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Registration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Filing)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentID)
                </td>
                <td class="text-center" style="vertical-align: middle">
                    <a class="btn btn-sm btn-default" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-default" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
